<div class="min-h-screen w-full flex flex-col md:flex-row">
    <div
        class="w-full aspect-square max-h-[30rem] bg-no-repeat [background-position-x:center] bg-contain bg-fixed md:w-3/5 md:bg-cover md:bg-center md:max-h-none md:aspect-auto"
        style="background-image: url({{meal.strMealThumb}});"
    ></div>
    <div class="p-6 w-full flex flex-col bg-white -my-2 rounded-t-lg md:my-0 md:w-2/5">
        <h1 class="font-serif text-3xl mb-1">{{meal.strMeal}}</h1>
        <p class="uppercase text-gray-500 mb-6">
            {{meal.strCategory}} | {{meal.strArea}}
        </p>

        <h2 class="font-serif text-2xl mb-2">Ingredientes</h2>
        <ul class="mb-6">
            {{#each meal.ingredients}}
                <li>
                    {{name}} - {{measure}}
                </li>
            {{/each}}
        </ul>

        <h2 class="font-serif text-2xl mb-2">Instruções</h2>
        <p class="text-justify">{{meal.strInstructions}}</p>

        <div class="flex gap-x-2 mt-6">
            <button
                class="flex-1 bg-black text-white font-semibold rounded h-12"
                onclick="window.location.href = '/'"
            >
                Próxima Receita
            </button>
            <button id="favorite-button" class="h-12 w-12 text-red-600 border-neutral-300 border-2 rounded flex justify-center items-center" onclick="favorite()">
                {{#if meal.favorite}}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                    </svg>
                {{else}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                    </svg>
                {{/if}}
            </button>
        </div>
        <a href="/favorites" class="text-gray-500 text-center mt-2 hover:underline">VER TODOS OS FAVORITOS</a>
    </div>
</div>

<script>
    const meal = {{{ json meal }}}
    const favoriteButton = document.getElementById("favorite-button")
    let isFavorite = meal.favorite

    async function favorite() {
        isFavorite = !isFavorite
        
        if (isFavorite) {
            favoriteButton.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                </svg>
            `

            await fetch("/favorites", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(meal)
            })

        } else {
            favoriteButton.innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
            `

            await fetch(`/favorites/${meal.idMeal}`, {
                method: "DELETE"
            })
        }
    }
</script>